In [1]:
# installing kaggle library
! pip install kaggle

Requirement already satisfied: kaggle in c:\users\santh\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\santh\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\santh\anaconda3\lib\site-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\santh\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\santh\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\santh\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\santh\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\santh\anaconda3\lib\site-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in c:\users\santh\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\santh\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\santh\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\santh\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\santh\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\santh\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\santh\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

Upload Kaggle.json file

In [3]:
# configuring the path of kaggle.json file
import shutil
import os

# Create the .kaggle directory if it doesn't exist
kaggle_dir = os.path.expanduser('~/.kaggle')
if not os.path.exists(kaggle_dir):
    os.makedirs(kaggle_dir)

# Move the kaggle.json file to the .kaggle directory
shutil.move('kaggle.json', os.path.join(kaggle_dir, 'kaggle.json'))

# Set permission for the file (Windows doesn't use chmod, so this can be skipped)
# This is generally for Unix-based systems, so in Windows you can ignore it

'C:\\Users\\santh/.kaggle\\kaggle.json'

Verify Kaggle Configuration

In [4]:
# Test if Kaggle API is working
!kaggle datasets list

ref                                                          title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
-----------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
valakhorasani/mobile-device-usage-and-user-behavior-dataset  Mobile Device Usage and User Behavior Dataset       11KB  2024-09-28 20:21:12           7306        132  1.0
lainguyn123/student-performance-factors                      Student Performance Factors                         94KB  2024-09-02 10:53:57          35676        630  1.0
valakhorasani/gym-members-exercise-dataset                   Gym Members Exercise Dataset                        22KB  2024-10-06 11:27:38           3680         76  1.0
mohamedyosef101/2024-olympics-medals-and-economic-status     2024 Olympics Medals and Economic status             2KB  2024-10-13 12:39:58           1534         23  1.0
mayurkadam9833/top-100-imdb-movies                           Top 100 IMDB movies                                  9KB  2024-09-30 14:06:41           1195         22  1.0
octopusteam/imdb-top-1000-movies                             IMDb Top 1000 Movies                                24KB  2024-10-18 08:00:05            873         23  1.0
abdulszz/spotify-most-streamed-songs                         Spotify Most Streamed Songs                         60KB  2024-09-07 18:23:14          14298        181  1.0
arpitsinghaiml/u-s-crime-dataset                             U.S. Crime Dataset (Jan. 2020 - Sept. 2024)         48MB  2024-10-11 05:11:00            744         21  0.9411765
assemelqirsh/covid19-dataset                                 Covid19_Dataset                                     10MB  2024-10-01 11:30:44           1409         21  1.0
ankulsharma150/marketing-analytics-project                   Marketing Analytics Project                         38KB  2024-10-01 09:27:22           1752         30  1.0
prajwaldongre/top-100-healthiest-food-in-the-world           100 Healthiest Foods:Nutrition and Origin dataset    3KB  2024-10-11 09:40:41           1436         35  1.0
mafzal19/electric-vehicle-sales-by-state-in-india            Electric Vehicle Sales by State in India           453KB  2024-10-11 18:59:45           1541         28  1.0
b'waqi786/remote-work-and-mental-health                        Remote Work & Mental Health \xf0\x9f\x8c\x8d\xf0\x9f\xa7\xa0                      93KB  2024-09-22 11:44:29           6551         91  1.0              '
ankulsharma150/netflix-data-analysis                         Netflix Data Analysis                                1MB  2024-10-15 08:02:26           1177         21  1.0
b'waqi786/youth-smoking-and-drug-dataset                       Youth Smoking and Drug Dataset \xf0\x9f\x9a\xad\xf0\x9f\x92\x8a                  152KB  2024-10-08 15:22:23           2041         37  1.0              '
ka66ledata/gym-membership-dataset                            Gym Membership Dataset                              24KB  2024-10-14 06:48:29           1644         27  1.0
valakhorasani/best-books-of-the-decade-2020s                 Best Books of the Decade: 2020's                     3MB  2024-10-18 07:24:43            601         29  1.0
alexandrakim2201/spotify-dataset                             Spotify User Reviews                                 3MB  2024-10-03 10:36:36           1311         31  1.0
shreyadutta1116/parkinsons-disease                           Parkinson's Disease                                225KB  2024-10-15 18:17:37            609         23  0.88235295
alexandervarlamov/cars-trucks-bikes-buses-in-movies          Cars, Trucks, Bikes, Buses in Movies (1900-2024)    64MB  2024-10-12 15:58:10            653         28  0.9411765

Importing Twitter Sentiment Dataset

In [6]:
# API to fetch dataset from kaggle
! kaggle datasets download -d kazanova/sentiment140

Dataset URL: https://www.kaggle.com/datasets/kazanova/sentiment140
License(s): other
sentiment140.zip: Skipping, found more recently modified local copy (use --force to force download)

Unzip the Dataset

In [8]:
import zipfile
import os

# Unzip the dataset
with zipfile.ZipFile('sentiment140.zip', 'r') as zip_ref:
    zip_ref.extractall()  # Extracts to the current directory

# Extract to a specific folder
with zipfile.ZipFile('sentiment140.zip', 'r') as zip_ref:
    zip_ref.extractall('path/to/directory')  # Replace with your directory

Import the Dataset

In [9]:
import pandas as pd
import os

# Load the dataset
df = pd.read_csv('training.1600000.processed.noemoticon.csv', encoding='latin-1')  # Adjust the file name based on the extracted files
# List files in the current directory
os.listdir()

['.ipynb_checkpoints',
 'path',
 'sentiment140.zip',
 'training.1600000.processed.noemoticon.csv',
 'Untitled.ipynb']

Understanding the dataset

In [11]:
df.columns=['target','id','date','flag','user','text']
df.head()

,target,id,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

Importing the dependencies

In [12]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [13]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\santh\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [14]:
# Printing the stopwords in english
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

Data Processing

loading the data from csv file to pandas dataframe

In [18]:
# Use raw string notation by adding 'r' before the string
twitter_data = pd.read_csv(r"C:\Users\santh\Untitled Folder\training.1600000.processed.noemoticon.csv", encoding='ISO-8859-1')
# Assign column names
twitter_data.columns = ['target', 'id', 'date', 'flag', 'user', 'text']

# Display the first few rows of the dataset
twitter_data.head()

,target,id,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [20]:
# checkind the number of rows and columns
twitter_data.shape

(1599999, 6)

In [21]:
#counting the number of missing values

twitter_data.isnull().sum()

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [22]:
# checking the distribution of the target column

twitter_data['target'].value_counts()

target
4    800000
0    799999
Name: count, dtype: int64

Converting the target "4" to "1"

In [23]:
twitter_data.replace({'target': {4:1}}, inplace=True)

In [24]:
# checking the distribution of the target column

twitter_data['target'].value_counts()

target
1    800000
0    799999
Name: count, dtype: int64

0 --> Negative Tweet

1 --> Positive Tweet

Stemming

Stemming is the process of reducing a word to its Root word

exmple: actor, actress, acting = act

In [25]:
port_stem = PorterStemmer()

In [26]:
def steming(content):

  stemmed_content = re.sub('[^a-zA-z]',' ',content)
  stemmed_content = stemmed_content.lower()
  stemmed_content = stemmed_content.split()
  stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
  stemmed_content = ' '.join(stemmed_content)


  return stemmed_content

In [29]:
twitter_data['stemmed_content'] = twitter_data['text'].apply(steming)

In [28]:
twitter_data.head()

,target,id,date,flag,user,text,stemmed_content
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,upset updat facebook text might cri result sch...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,kenichan dive mani time ball manag save rest g...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,whole bodi feel itchi like fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",nationwideclass behav mad see
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew,kwesidei whole crew

In [30]:
print(twitter_data['stemmed_content'])

0          upset updat facebook text might cri result sch...
1          kenichan dive mani time ball manag save rest g...
2                            whole bodi feel itchi like fire
3                              nationwideclass behav mad see
4                                        kwesidei whole crew
                                 ...
1599994                           woke school best feel ever
1599995    thewdb com cool hear old walt interview http b...
1599996                         readi mojo makeov ask detail
1599997    happi th birthday boo alll time tupac amaru sh...
1599998    happi charitytuesday thenspcc sparkschar speak...
Name: stemmed_content, Length: 1599999, dtype: object

In [31]:
print(twitter_data['target'])

0          0
1          0
2          0
3          0
4          0
          ..
1599994    1
1599995    1
1599996    1
1599997    1
1599998    1
Name: target, Length: 1599999, dtype: int64

In [32]:
#separating the data and label

X = twitter_data['stemmed_content'].values
Y = twitter_data['target'].values

In [33]:
print(X)

['upset updat facebook text might cri result school today also blah'
 'kenichan dive mani time ball manag save rest go bound'
 'whole bodi feel itchi like fire' ... 'readi mojo makeov ask detail'
 'happi th birthday boo alll time tupac amaru shakur'
 'happi charitytuesday thenspcc sparkschar speakinguph h']

In [34]:
print(Y)

[0 0 0 ... 1 1 1]

Splitting the data to training data and test data

In [35]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

print(X.shape, X_train.shape, X_test.shape)

(1599999,) (1279999,) (320000,)

In [36]:
print(X_train)

['watch saw iv drink lil wine'
 'hire anoth employe gourmet point current hurri'
 'punish know much work tomorrow everyon els get day' ...
 'ohjustjak awkward crush nph amazingg'
 'oliveandfig wow never tweet nah yet tuesday spoil'
 'that_girl_jenn stay twitter b c got back late amp tri relax enough sleep work amp awak']

In [37]:
print(X_test)

['school someon slap acrosss face caus stay class total dragggg poor poor kitti'
 'ah may show w ruth kim amp geoffrey sanhueza'
 'dad comput turn even though weird mean download song want' ...
 'destini nevertheless hooray member wonder safe trip'
 'strawberri heavi appar broke blender epic fuck fail' 'supersandro thank']

In [38]:
# converting the texttual data to numerical data

vectorizer = TfidfVectorizer()

X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

In [39]:
print(X_train)

  (0, 464907)	0.44755968424484005
  (0, 247566)	0.4211677185669695
  (0, 116313)	0.37428429359397636
  (0, 194742)	0.5293567683337778
  (0, 373033)	0.35766686591229396
  (0, 458362)	0.2721675481983611
  (1, 181532)	0.3783460265618032
  (1, 92615)	0.3300113641102886
  (1, 336609)	0.31277964698237826
  (1, 160607)	0.49260230408176026
  (1, 127172)	0.4307005603768187
  (1, 23001)	0.25281727079702565
  (1, 175881)	0.39754131995016506
  (2, 100219)	0.22341924630468818
  (2, 154375)	0.22130115521624924
  (2, 125253)	0.3986508849353605
  (2, 132426)	0.33174383935487023
  (2, 433486)	0.28960001302922206
  (2, 467565)	0.23562584799521835
  (2, 294403)	0.2849989296353406
  (2, 232688)	0.26260681919651707
  (2, 343356)	0.5852851415328681
  (3, 367795)	0.30871788531388655
  (3, 50489)	0.6886835448480676
  (3, 349108)	0.46555629423386596
  :	:
  (1279996, 311691)	0.47880627020252514
  (1279996, 16702)	0.4366940449213088
  (1279996, 32710)	0.37397170429854387
  (1279996, 91074)	0.3425177168682021
  (1279997, 317032)	0.613141027487443
  (1279997, 298955)	0.34784708899529887
  (1279997, 468138)	0.262612492777912
  (1279997, 476780)	0.2543512264446866
  (1279997, 439537)	0.3222236553149022
  (1279997, 304059)	0.24197863512466855
  (1279997, 440677)	0.2326235308005553
  (1279997, 398658)	0.3910308994808248
  (1279998, 421122)	0.49758503849323543
  (1279998, 354798)	0.29775579984446054
  (1279998, 32313)	0.2893729521176361
  (1279998, 34825)	0.18377279084244985
  (1279998, 437358)	0.21310107774291198
  (1279998, 442238)	0.20290268138344408
  (1279998, 401776)	0.25747925781534087
  (1279998, 17977)	0.38910032406861256
  (1279998, 128102)	0.2726466315936536
  (1279998, 240510)	0.25265740655891555
  (1279998, 160370)	0.18046383588405498
  (1279998, 390652)	0.20845071565923867
  (1279998, 467565)	0.16665660347815192

In [40]:
print(X_test)

  (0, 435028)	0.26230925717781944
  (0, 401776)	0.25392304109096725
  (0, 394815)	0.24640650445812856
  (0, 390406)	0.3972933108545502
  (0, 374361)	0.22348363749749403
  (0, 337530)	0.5234569549218435
  (0, 231083)	0.3307953247586049
  (0, 134819)	0.2732428887095021
  (0, 80775)	0.2653273474229123
  (0, 68745)	0.2640470757739768
  (1, 385159)	0.2423253397998145
  (1, 366122)	0.4811717662516511
  (1, 270662)	0.28298457606840066
  (1, 229266)	0.40540503595022426
  (1, 153746)	0.5748549434332728
  (1, 17977)	0.20793062743488835
  (1, 8813)	0.3026967059147128
  (2, 460305)	0.37056303922275935
  (2, 457786)	0.22643285141278216
  (2, 439972)	0.33256039758138023
  (2, 428010)	0.2705826510099419
  (2, 395096)	0.30217576065585394
  (2, 272647)	0.30725493909161034
  (2, 132131)	0.2729599284373498
  (2, 114774)	0.3685376425854966
  :	:
  (319995, 323457)	0.3883302771684808
  (319995, 203834)	0.3857804933967842
  (319995, 187526)	0.30322986158885457
  (319995, 75382)	0.32077047552960325
  (319995, 24631)	0.27967667213428454
  (319995, 5659)	0.30357657451224984
  (319996, 460410)	0.41405080650383386
  (319996, 417655)	0.9102537721061774
  (319997, 466656)	0.26696716041549107
  (319997, 437812)	0.29406608225347713
  (319997, 368049)	0.3247347567308167
  (319997, 304123)	0.48559758745432124
  (319997, 275409)	0.37226622901193746
  (319997, 178542)	0.40264334726028217
  (319997, 105396)	0.4475401490386847
  (319998, 405372)	0.3679553639665157
  (319998, 171518)	0.3752124946585065
  (319998, 148160)	0.2730090166657853
  (319998, 135209)	0.2922737211235663
  (319998, 128649)	0.35408305076673846
  (319998, 57708)	0.30575086355164
  (319998, 48798)	0.4892892252917659
  (319998, 24631)	0.32496805896995956
  (319999, 420901)	0.2873686612763943
  (319999, 409533)	0.957820052262539

Training the ML Model

Logistic Regression

In [ ]:
model = LogisticRegression(max_iter = 1000)

In [42]:
model.fit(X_train, Y_train)

LogisticRegression(max_iter=1000)

Model Evaluation

Accuracy Score

In [43]:
# accuracy score on the trainning data

X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(Y_train, X_train_prediction)

In [44]:
print('Accuracy score on the training data:', training_data_accuracy)

Accuracy score on the training data: 0.8117670404430003

In [51]:
# accuracy score on the test data

X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(Y_test, X_test_prediction)

In [52]:
print('Accuracy score on the test data:', test_data_accuracy)

Accuracy score on the test data: 0.7785375

Model accuracy =77.8%

Saving the trained model

In [46]:
import pickle

In [54]:
filename = 'trained_model.sav'
pickle.dump(model, open(filename, 'wb'))

Using the saved model for future prediction

In [55]:
# Loading the saved model
loaded_model = pickle.load(open('C:\\Users\\santh\\Untitled Folder\\trained_model.sav', 'rb'))

In [56]:
X_new = X_test[200]
print(Y_test[200])

prediction = model.predict(X_new)
print(prediction)


if (prediction[0] == 0):
  print('Negative Tweet')

else:
  print('Positive Tweet')

1
[1]
Positive Tweet

In [60]:
X_new = X_test[3]
print(Y_test[3])

prediction = model.predict(X_new)
print(prediction)


if (prediction[0] == 0):
  print('Negative Tweet')

else:
  print('Positive Tweet')

0
[1]
Positive Tweet